
.slides-inner {
    display: flex;
    flex-direction: row;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition: 1000ms;
}

.ms-slideshow {
    overflow: hidden;
    position: relative;
}