body, html {
    height: 100%;
    margin: 0;
  }

body {
    font-family: Helvetica;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

/* .nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 18, 52, 1);
    margin: 0;
    color: white;
    padding: .5em, 1em;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
} */

.nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: rgb(18, 18, 52, 1);
    color: white;

}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-list a {
    display: block;
    text-decoration: none;
    padding: .5em;
    color: white;
  }

a.selected {
    background-color:grey;
    color: #fff;
  }

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 0px 0px;
    background-color:  #573d85;
    color: white;
    margin: 0;
}

h3 {
    font-size: 3em;
}

.header > p {
    padding: 0em 0em 0em 1em;
    font-size: 2em;
    margin: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

section > ul {
    padding: 5em;
}

ul li {
    color: white;
    line-height: 1.5em;
    padding: .5em;
    font-size: 18px;
}

/* ------------------------------ */
/* Section classes */

.slideshow {
    background-color: #573d85 ;
}

.bernie{
    background-color: #572e6d;
}

.tom {
    background-color: #573d85;
}

.elizabeth {
    background-color: #6c387c;
}

.pete {
    display: flex;
    flex-direction: row;
    background-color: #48376e;
}
.joe {
    background-color: #572e6d;
    padding-top: 1em;
}

/* ------------------------------ */
/* Candidate Classes */

section > .candidateB, .candidateE, .candidateT, .candidateP, .candidateJ {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ------------------------------ */
/* Image classes */

section .bs, .ts, .ew, .pb, .jb {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    bottom: 0;
}

/* ------------------------------ */
/* Fact classes */

.bernie-facts, .elizabeth-facts, .joe-facts {
    float: left;
    width: 35%;
    margin: 0;
    padding-left: 3em;
    padding-bottom: 3em;
}

.tom-facts, .pete-facts {
    float: right;
    width: 35%;
    margin: 0;
    padding-right: 3em;
    padding-bottom: 3em;
}